<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an atrribute "name" that has a value of "MyDB".
  -->
  <connectionStrings>
    <add xdt:Transform="SetAttributes"
       xdt:Locator="Match(name)"
       xdt:Transform="SetAttributes"
       name="TodoContext"
       connectionString="Server=73467208-e31f-4f01-8b0a-a2f70102f5db.sqlserver.sequelizer.com;Database=db73467208e31f4f018b0aa2f70102f5db;User ID=wltwbyclyhelkvwe;Password=jsV4RJK73eYzNoHAA2E5kFHs8yJqTG52veZj4mNtYVa8gNUTRSbDu77LRB5s8unt;"
          />
  </connectionStrings>
  
  <system.web>
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>